---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeIcon from "@/components/icons/Code.astro"
import Experience from "@/components/Experience.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"
---

<Layout
  title="David Jeudy - Solutions Architect & Software Engineer Portfolio"
  description="David Jeudy - CTO and Software Engineer specializing in web development, data engineering, and software architecture. Building innovative solutions with React, Django, and modern technologies."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">
    <SectionContainer id="experience">
      <TitleSection>
        <Briefcase class="size-8" />
        Work Experience
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <TitleSection>
        <CodeIcon class="size-7" />
        Projects
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="about-me">
      <TitleSection>
        <ProfileCheck class="size-8" />
        About Me
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>
  </main>
</Layout>
